@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #000000;
  color: #fff;
}

::selection {
  background-color: rgba(0, 0, 0, 0.5);
}

#cover {
  background: #000000;
  display: flex;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.currentIconPage svg {
  stroke: #000000;
  fill: #000000;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color:#000000;
}